<a href="https://colab.research.google.com/github/luishernand/Analisis-EDA-predicciones/blob/master/Predicciones_del_loto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicción de los numeros de la loto

In [ ]:
!pip install fbprophet

Requirement already satisfied: fbprophet in /usr/local/lib/python3.7/dist-packages (0.7.1)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.29.28)
Requirement already satisfied: cmdstanpy==0.9.5 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.9.5)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.21.6)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.3.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.4.0)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.10.5.2)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.64.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.2.3)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (2022.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (3.0.8)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (4.2.0)

#### Librerias

In [ ]:
import numpy as np
import pandas as pd
from fbprophet import Prophet

## 1- Read df

In [ ]:
from google.colab import files
data = files.upload()

Saving base.xlsx to base.xlsx

In [ ]:
df = pd.read_excel('base.xlsx', sheet_name='datos')
df.head()

       Fecha  bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
0 2019-04-10     12     15     18     23     25     31         4         1
1 2019-04-13      7      9     10     21     27     28         5         5
2 2019-04-17      1      3     13     20     35     36         1        13
3 2019-04-20      4      6     11     13     27     28        10         7
4 2019-04-24      1      7     19     33     36     38         1         2

In [ ]:
df.tail()

         Fecha  bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
288 2022-04-13     10     14     26     29     33     36         9         9
289 2022-04-16      5      8     16     22     26     32         5        12
290 2022-04-20      9     18     26     32     37     38         2         5
291 2022-04-23      5     13     21     24     29     34         6         7
292 2022-04-27     14     22     27     28     29     35         8        10

In [ ]:
df.shape

(293, 9)

## 2- Preparacion de los datos

In [ ]:
df1 = df[['Fecha', 'bolo1']]
df2 = df[['Fecha', 'bolo2']]
df3 = df[['Fecha', 'bolo3']]
df4 = df[['Fecha', 'bolo4']]
df5 = df[['Fecha', 'bolo5']]
df6 = df[['Fecha', 'bolo6']]
df7 = df[['Fecha', 'Loto +.1']]
df8 = df[['Fecha', 'Loto +.2']]

In [ ]:
df1.columns = ['ds', 'y']
df2.columns = ['ds', 'y']
df3.columns = ['ds', 'y']
df4.columns = ['ds', 'y']
df5.columns = ['ds', 'y']
df6.columns = ['ds', 'y']
df7.columns = ['ds', 'y']
df8.columns = ['ds', 'y']

## 3- Aplicar Modelo

- El modelo tiene mejor arcierto con la base de datos completa
- Para los de miercoles a sadado el periodo es 3 y de sabado a miercoles es de 4

#### 3.1 de sabado a mierocles 4 dias

In [ ]:
# funcion to model building and predictions
def build_model(data):
    m = Prophet(daily_seasonality=True)
    model = m.fit(data)
    future = m.make_future_dataframe(periods=4)
    forecast = m.predict(future)
    results = int(round(forecast['yhat'].tail(1)))
    return results

In [ ]:
bolo1 = build_model(df1)
bolo2 = build_model(df2)
bolo3 = build_model(df3)
bolo4 = build_model(df4)
bolo5 = build_model(df5)
bolo6 = build_model(df6)
bolo_mas_1 = build_model(df7)
bolo_mas_2 = build_model(df8)

In [ ]:
resultados = str(bolo1) + ' '+ str(bolo2) + ' '+ str(bolo3) + ' '+ str(bolo4) + ' '+ str(bolo5) + ' '+ str(bolo6) + ' '+ str(bolo_mas_1) + ' '+ str(bolo_mas_2)

In [ ]:
print('Predicción para el miercoles: {}'.format(resultados))

Predicción para el miercoles: 6 12 17 21 26 30 6 10

#### 3.2 de miercoles a sabado 3 dias

In [ ]:
def build_model(data):
    m = Prophet(daily_seasonality=True)
    model = m.fit(data)
    future = m.make_future_dataframe(periods=3)
    forecast = m.predict(future)
    results = int(round(forecast['yhat'].tail(1)))
    return results

In [ ]:
bolo1 = build_model(df1)
bolo2 = build_model(df2)
bolo3 = build_model(df3)
bolo4 = build_model(df4)
bolo5 = build_model(df5)
bolo6 = build_model(df6)
bolo_mas_1 = build_model(df7)
bolo_mas_2 = build_model(df8)

In [ ]:
result = str(bolo1) + ' '+ str(bolo2) + ' '+ str(bolo3) + ' '+ str(bolo4) + ' '+ str(bolo5) + ' '+ str(bolo6) + ' '+ str(bolo_mas_1) + ' '+ str(bolo_mas_2)

In [ ]:
print('Predicción para el sabado: {}'.format(result))

Predicción para el sabado: 3 23 28 31 35 37 6 5

### Prueba de un periodo

In [ ]:
def build_model(data):
    m = Prophet(daily_seasonality=True)
    model = m.fit(data)
    future = m.make_future_dataframe(periods=1)
    forecast = m.predict(future)
    results = int(round(forecast['yhat'].tail(1)))
    return results

In [ ]:
bolo1 = build_model(df1)
bolo2 = build_model(df2)
bolo3 = build_model(df3)
bolo4 = build_model(df4)
bolo5 = build_model(df5)
bolo6 = build_model(df6)
bolo_mas_1 = build_model(df7)
bolo_mas_2 = build_model(df8)

In [ ]:
result = str(bolo1) + ' '+ str(bolo2) + ' '+ str(bolo3) + ' '+ str(bolo4) + ' '+ str(bolo5) + ' '+ str(bolo6) + ' '+ str(bolo_mas_1) + ' '+ str(bolo_mas_2)

In [ ]:
print('Predicción: {}'.format(result))