<img src="https://github.com/luishernand/pandas_fundamentals/blob/master/logo4.JPG?raw=true" height = 200 width=200 alt=" ">  

# Predict the Stock Price  

**Descripción:** Programa que predice el precio de cierre de un día en especifíco

|Email|Fecha|
|-----|-----|
|luishernandezmatos@yahoo.com|17 de junio 2020|

## Contenido:  
1. [Carga de librerías](#Librerias)
1. [Dataset](#Carga-del-dataset:)
    1. [filtrar datos](#Filtrar-los-datos-del-%C3%BAltimo-d%C3%ADa)
1. [Preparar los datos](#Preparar-los-datos)
1. [Crear Modelo](#Crear-Modelo)
1. [Predecir el precio](#Predecir-el-precio)

### Librerias

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
from sklearn.svm import SVR

### Carga del dataset:  
[GOOG.csv](https://finance.yahoo.com/quote/GOOG/history)

In [58]:
df = pd.read_csv('GOOG.csv',parse_dates=['Date'] )
df.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-06-17,1086.280029,1099.180054,1086.280029,1092.500000,1092.500000,941600
1,2019-06-18,1109.689941,1116.390015,1098.989990,1103.599976,1103.599976,1386700

#### Filtrar los datos del último día

In [59]:
actual_price = df.tail(1)
actual_price

,Date,Open,High,Low,Close,Adj Close,Volume
252,2020-06-16,1445.219971,1455.02002,1425.900024,1442.719971,1442.719971,1709200

### Preparar los datos  
1. [x] Eliminar de los df el ultimo día
1. [x] Crear las variables dependiente e independiente

In [60]:
# elimiar el ultimo día del df
df = df.iloc[ :252]
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
247,2020-06-09,1445.359985,1468.000000,1443.209961,1456.160034,1456.160034,1409200
248,2020-06-10,1459.540039,1474.259033,1456.270020,1465.849976,1465.849976,1525200
249,2020-06-11,1442.479980,1454.474976,1402.000000,1403.839966,1403.839966,1991300
250,2020-06-12,1428.489990,1437.000000,1386.020020,1413.180054,1413.180054,1944200
251,2020-06-15,1390.800049,1424.800049,1387.920044,1419.849976,1419.849976,1503900

In [61]:
df['days'] = df.Date.dt.day

In [62]:
X = df.days.values
y = df['Adj Close'].values
X = X.reshape(-1, 1)

### Crear Modelo
1. [x] SVR Linear
1. [x] SVR poly
1. [x] SVR rbf

In [63]:
linear = SVR(kernel='linear',C= 1000.0)
linear.fit(X, y)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [64]:
poly = SVR(kernel='poly',degree=4, gamma= 'scale')
poly.fit(X, y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=4, epsilon=0.1, gamma='scale',
  kernel='poly', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [65]:
rbf = SVR( gamma=0.15, C= 1000.0)
rbf.fit(X, y)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.15,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

### Predecir el precio

In [66]:
#day = actual_price.Date.dt.day
#day = day.values
#day

In [67]:
day = [[30]]
print('rbf:',rbf.predict(day))
print('linear_Kernel:',linear.predict(day))
print('poly_Kernel:',poly.predict(day))

rbf: [1261.19020766]
linear_Kernel: [1251.7159885]
poly_Kernel: [1260.13416525]

In [70]:
print('precio actual: ')
round(actual_price['Adj Close'],2)

precio actual:

252    1442.72
Name: Adj Close, dtype: float64